# Avoid uploading system files
.DS_Store
.DS_Store?
Desktop.ini

# Thumbnails
._*


# Files on external disks
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#aplication specific files
venv
node_modules
.sass-cache

# Automations
/bin
